@import url('https://fonts.cdnfonts.com/css/ocr-a-std');


.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #93f17b,
      0 0 10px #f37a7a,
      0 0 21px #f54c4c,
      0 0 42px rgb(174, 0, 255),
      0 0 82px rgb(255, 153, 0),
      0 0 92px rgb(255, 0, 0),
      0 0 102px rgb(255, 0, 221),
      0 0 151px rgb(255, 72, 0);
}

h1,h2 {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;     
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #f54c4c,
      0 0 11px #f54c4c,
      0 0 19px #f54c4c,
      0 0 40px #f54c4c,
      0 0 80px #f54c4c,
      0 0 90px #f54c4c,
      0 0 100px #f54c4c,
      0 0 150px #f54c4c;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


.list{
 
  text-align: justify;
  flex-wrap: wrap;

}


  
h2 {
 font-size: 1.8rem;
}
.container {
  margin-top: 20vh;
}

body {
  background:url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg); 
  font-size: 18px;
  background-color: rgb(0,0,0);
  background-repeat: no-repeat;
  background-size:cover ;
  overflow: hidden;
  height: 100vh;
  font-family: 'OCR A Std', sans-serif;	
}  

h2, h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;

}